.addfilm {
  height: 85vh;
}

.addfilm h1 {
  text-align: center;
  font-size: 3rem;
}

.addfilm p {
  text-align: center;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .addfilm {
    height: 0;
  }

  .addfilm h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 576px) {
  .addfilm {
    height: 0;
  }

  .addfilm h1 {
    font-size: 2rem;
  }
}
