footer {
  background-color: black;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: white;
  margin-top: auto;
  flex-shrink: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: rgb(46, 78, 251);
}

/* Add for mobile devices */
@media only screen and (max-width: 600px) {
  footer {
    font-size: 0.6rem;
  }

  nav,
  a {
    margin-right: 20px;
  }
}
